---
import Layout from '../layouts/Layout.astro'
import '../styles/style.css';
---

<Layout title='Welcome to Astro.'>
	<main>
		<header>
			<div class='text-[24px] font-bold uppercase font-insolata'>
				<h2>404 not found</h2>
			</div>
		</header>
	</main>
</Layout>
