---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Section404 from '../components/Section404.astro'
import Footer from '../components/Footer.astro'
import '../styles/styles.css'
---

<Layout title='404 Page'>

	<Header />

	<main class='snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth'>

		<Section404 />

	</main>

	<Footer />

</Layout>
