<footer class='flex items-center bottom-0 w-full text-center justify-center'>
	<div class='text-stone-300 text-sm font-medium'>
		<span>created by <a href='https://github.com/JowiiProgrammer'><strong class='underline font-bold'>JowiiProgrammer</strong></a> - devChallenges.io</span>
	</div>
</footer>